*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4b4b4b;
}

.top{
    background-color: #686868;
    height: 10vh;
    width: 100%;
    display: flex;

    .cubo{
        background-color: #3e3e3e;
        height: 100%;
        aspect-ratio: 1/1;
        border: 20px solid #686868;
        display: flex;
    }
}