*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4b4b4b;
}

header{
    background-color: #686868;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.4%;

    .cuadrado{
        background-color: #3e3e3e;
        height: 55%;
        aspect-ratio: 1/1;
        display: flex;
    }

    .rectangulo_blanco{
        background-color: #ffffff;
        height: 30%;
        aspect-ratio: 8/1;
        display: flex;
    }

    .rectangulo_gris{
        background-color: #3e3e3e;
        height: 30%;
        aspect-ratio: 4/1;
        display: flex;
        margin-right: 4%;
    }
}

nav{
    background-color: #444444;
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;

    .linea_baja{
        background-color: #b4b4b4;
        height: 7%;
        aspect-ratio: 10/1;
        display: flex;
        margin-left: 3%;
        margin-top: 1.5%;
    }

    .rectangulo_blanco{
        background-color: #ffffff;
        height: 30%;
        aspect-ratio: 9/1;
        display: flex;
        margin-left: auto;
    }  

    .cuadrado_naranja{
        background-color: #ff8c00;
        height: 30%;
        aspect-ratio: 1/1;
        display: flex;   
        margin-right: 4%;
    }
}

main{
    background-color: #686868;
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;

    section{
        background-color: #3a3a3a;
        height: 85%;
        width: 25%;
        margin-left: 4%;

        .rectangulo_negro_grande{
            background-color:#3a3a3a;
            height: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .cuadrado_gris{
                background-color: #b4b4b4;
                height: 15%;
                aspect-ratio: 1/1;
                display: flex;
            }

            .rectangulo_gris{
                background-color: #b4b4b4;
                height: 15%;
                width: 65%;
                display: flex;
                margin: 4%;
            }
        }
    }

    aside{
        background-color: #ffffff;
        height: 50%;
        width: 63%;
        margin-left: 4%;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 20%;
        .triangulo_izquierdo{

        }

        .cuadrado_rojo{
            background-color: #ff8c00;
            height: 100%;
            aspect-ratio: 1.5/1;
            display: flex;
            
            .triagulo_blanco{

            }
        }

        .triangulo_derecha{
            
        }
    }
}