*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDEDED;
}

header{
    height: 11vh;
    width: 100%;

    .midle-header{
        background-color: #3B6AB0;
        height: 85%;
        width: 100%;

        display: flex;
        align-items: center;

        .logo{
            background-color: #FFFDFF;
            height: 50%;
            width: 2.5%;
    
            margin-left: 6%;

            .logo-inside{
                background-color: #3B6AB0;
                height: 80%;
                width: 60%; 
                
                /*   
                    0              0 
                izquierda        arriba
                
                */

                clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 50% 100%, 0% 100%);

                margin-top: 20%;
                margin-left: 20%;
            }
        }

        .rectangulo-blanco{
            background-color: #FFFDFF;
            height: 22%;
            width: 15%;

            margin-left: 4%;
        }

        .rectangulo-busqueda{
            background-color: #FFFDFF;
            height: 50%;
            width: 38%;

            margin-left: 4%;
        }

        .rectangulo-blanco1{
            background-color: #FFFDFF;
            height: 22%;
            width: 8%;

            margin-left: 13%;
        }

        .rectangulo-blanco2{
            background-color: #FFFDFF;
            height: 22%;
            width: 4%;

            margin-left: 1%;
        }
    }

    .bottom-header{
        background-color: #2F599D;
        height: 10%;
        width: 100%;
    }

    .bottom-header1{
        background-color: #FFFDFF;
        height: 10%;
        width: 100%;
    }
}

main{
    height: 80vh;
    width: 100%;

    display: flex;

    section{
        background-color: #EDEDED;
        height: 100%;
        width: 85%;

        display: flex;
        justify-content: center;
        
        .sub-section{
            height: 100%;
            width: 85%;

            .section-perfil-up{
                background-color: #EFCB15;
                height: 33%;
                width: 100%;

                border: 1px solid #ffffff;
                border-top: 0px;
                border-bottom: 40px solid #ffffff;

                display: flex;

                .section-perfil-image{
                    background-color: #E9A4B7;
                    height: 90%;
                    width: 14.8%;

                    border: 14px solid #ffffff;
                    border-top: 8px solid #ffffff;
                    border-bottom: 8px solid #ffffff;

                    margin-left: 5%;
                    margin-top: 7%;
                }

                .section-perfil-text{
                    height: 20%;
                    width: 20%; 
                    
                    margin-left: 2.6%;
                    margin-top: 8.5%;

                    .section-perfil-text1{
                        background-color: #ffffff;
                        height: 50%;
                        width: 90%; 

                        margin-bottom: 10%;
                    }

                    .section-perfil-text2{
                        background-color: #ffffff;
                        height: 50%;
                        width: 60%; 
                    }
                }

                .section-perfil-bottom{
                    background-color: #ffffff;
                    height: 35%;
                    width: 10%;
                }
            }
        }

        .section-info{         
            height: 60%;
            width: 100%;

            margin-top: 4%;

            display: flex;

            .section-info1{
                height: 100%;
                width: 30%;

                margin-right: 5%;

                .rectangulo-blanco{
                    background-color: #ffffff;
            
                    height: 15%;
                    width: 100%; 

                    margin-bottom: 6%;
                }

                .cuadrado-blanco{
                    background-color: #ffffff;
            
                    height: 80%;
                    width: 100%; 

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .collage-container{
                        height: 90%;
                        width: 90%; 
                        
                        .collage-filas{
                            height: 31%;
                            width: 100%; 
    
                            margin-bottom: 3%;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            gap: 6.6%;
                        }

                        .collage-filas1{
                            height: 31%;
                            width: 100%; 

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            gap: 6.6%;
                        }

                        .cuadrado-amarillo{
                            background-color: #E8DDA5;
    
                            height: 100%;
                            width: 29%; 
                        }

                        .cuadrado-violeta{
                            background-color: #ABA6E8;
    
                            height: 100%;
                            width: 29%; 
                        }

                        .cuadrado-azul{
                            background-color: #A7CCE7;
    
                            height: 100%;
                            width: 29%; 
                        }

                        .cuadrado-verde{
                            background-color: #A8E8DA;
    
                            height: 100%;
                            width: 29%; 
                        }

                        .cuadrado-rosa{
                            background-color: #D8A7E9;
    
                            height: 100%;
                            width: 29%; 
                        }
                    }
                }
            }

            .section-info2{
                height: 100%;
                width: 65%;

                .rectangulo-blanco{
                    background-color: #ffffff;
            
                    height: 15%;
                    width: 100%; 

                    margin-bottom: 1%;

                    display: flex;
                    justify-content: right;

                    .rectangulo-gris{
                        background-color: #D8E2E4;
            
                        height: 25%;
                        width: 10%; 
    
                        margin-bottom: 6%; 
                        margin-right: 7%;
                        margin-top: 3%;
                    }
                }

                .rectangulo-blanco1{
                    background-color: #ffffff;
            
                    height: 20%;
                    width: 100%; 

                    margin-bottom: 1%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .perfil-text{
                        width: 76%;
                        height: 20%;
                        background-color: #D3DEE2;
        
                        margin-left: 5%;
                    }

                    .perfil-circle-rojo{
                        width: 5.4%;
                        height: 50%;
                        background-color: #ED9FB4;
                        border-radius: 50%;
                    }
                }

                .rectangulo-blanco2{
                    background-color: #ffffff;
            
                    height: 15%;
                    width: 100%; 

                    margin-bottom: 2%;

                    display: flex;
                    justify-content: right;

                    .cuadrado-verde{
                        background-color: #B7E3A4;
            
                        height: 30%;
                        width: 2.3%; 
    
                        margin-bottom: 6%; 
                        margin-right: 7%;
                        margin-top: 3%;
                    }

                    .cuadrado-amarillo{
                        background-color: #E9E2AC;
            
                        height: 30%;
                        width: 2.3%; 
    
                        margin-bottom: 6%; 
                        margin-right: 7%;
                        margin-top: 3%;
                    }

                    .cuadrado-azul{
                        background-color: #A8CCE6;
            
                        height: 30%;
                        width: 2.3%; 
    
                        margin-bottom: 6%; 
                        margin-right: 7%;
                        margin-top: 3%;
                    }
                }

                .rectangulo-blanco3{
                    background-color: #ffffff;
            
                    height: 26%;
                    width: 100%; 

                    margin-bottom: 1%;

                    .part1{
                        height: 47.5%;
                        width: 100%; 

                        margin-bottom: 1%;

                        display: flex;
                        align-items: center;
    
                        .perfil-circle-violeta{
                            width: 5.4%;
                            height: 80%;
                            background-color: #DCA4ED;
                            border-radius: 50%;

                            margin-left: 7%;
                        }

                        .rectangulo-texto{
                            width: 80%;
                            height: 50%;
            
                            margin-left: 4%;

                            .texto1{
                                width: 20%;
                                height: 45%;
                                background-color: #A9CBE7;
            
                                margin-left: 4%;
                                margin-bottom: 1.3%;
                            }

                            .texto2{
                                width: 10%;
                                height: 20%;
                                background-color: #EBEBEB;
            
                                margin-left: 4%;
                            }
                        }
                    }

                    .rectangulo-gris{
                        background-color: #D4DBE1;
            
                        height: 12%;
                        width: 86%; 

                        margin-left: 7%;
                        margin-bottom: 1.4%;
                    }

                    .rectangulo-gris1{
                        background-color: #D4DBE1;
            
                        height: 12%;
                        width: 60%; 

                        margin-left: 7%;
                        margin-bottom: 1.4%;
                    }
                }

                .rectangulo-blanco4{
                    background-color: #ffffff;
            
                    height: 15%;
                    width: 100%; 

                    display: flex;
                    align-items: center;

                    .rectangulo-gris{
                        background-color: #D8E2E4;
            
                        height: 25%;
                        width: 5%; 
    
                        margin-left: 7%;
                    }

                    .rectangulo-gris1{
                        background-color: #D8E2E4;
            
                        height: 15%;
                        width: 10%; 
    
                        margin-left: 2%;
                        margin-right: 10%;
                        
                    }
                }
            }
        }
    }

    aside{
        background-color: #ffffff;
        height: 100%;
        width: 15%;

        .perfil-box{
            height: 9%;
            width: 100%; 
            
            display: flex;
            justify-content: center;
            align-items: center;

            .perfil-text{
                width: 60%;
                height: 12%;
                background-color: #D3DEE2;

                margin-left: 6%;
            }

            .perfil-circle-violeta{
                width: 12%;
                height: 50%;
                background-color: #A9A3EA;
                border-radius: 50%;
            }

            .perfil-circle-azul{
                width: 12%;
                height: 50%;
                background-color: #A0CBEB;
                border-radius: 50%;
            }

            .perfil-circle-verde{
                width: 12%;
                height: 50%;
                background-color: #9FEDDA;
                border-radius: 50%;
            }

            .perfil-circle-rojo{
                width: 12%;
                height: 50%;
                background-color: #ED9FB4;
                border-radius: 50%;
            }

            .perfil-circle-amarillo{
                width: 12%;
                height: 50%;
                background-color: #E6E0A8;
                border-radius: 50%;
            }

            .perfil-circle-rosa{
                width: 12%;
                height: 50%;
                background-color: #D7A4EA;
                border-radius: 50%;
            }
        }
    }
}

footer{
    margin-top: 1%;
    height: 7vh;
    width: 100%;

    display: flex;
    justify-content: right;

    .sub-footer{
        background-color: #ffffff;
        height: 100%;
        width: 15%;
    }
}